<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{user.username}}</h1>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="temp" placeholder="enter temperature " required><br><br>
        <input type="text" name="humi" placeholder="enter humidity " required><br><br>
        <input type="text" name="ph" placeholder="enter ph" required><br><br>
        <button type="submit">predict</button>
    </form>
    {% if result2 %}
    <h3>Prediction:</h3>
    <h2>Result:{{result2}}</h2>
{% endif %}

    <a href="{% url 'login' %}">logout</a>
</body>
</html>